.linha-formulario {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.campo {
    flex: 1;
}

.campo label {
    display: block;
    margin-bottom: 5px;
}

.campo input,
.campo select {
    width: 100%;
    box-sizing: border-box;
}

.data {
    display: flex;
    gap: 3px;
}

.data input {
    flex: 1;
    min-width: 0;
}

textarea {
    width: 100%;
    height: clamp(100px, 8vw, 180px);
    box-sizing: border-box;
    resize: vertical;
}




